@model AutoShop.Models.Customer

<table>

    <tr>
        <td>First</td>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <td>Last</td>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td>Phone</td>
        <td>@Model.Phone</td>
    </tr>
</table>

